# Acton main directory
.acton/

# Build directory
build/
dist/

.DS_Store
node_modules/

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# Vim
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

# Acton related
.env
*.mnemonic
wallets.toml
global.wallets.toml
global.libraries.toml

# coverage
lcov.info
gen/

# Internal dev scripts (not part of public release)
scripts/livetest.tolk
scripts/livetest2.tolk
scripts/livetest3.tolk
